{% extends 'base.html.twig' %}

{% block title %}Ressource{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto mt-8 p-6 bg-white rounded-md shadow-md">
        <h1 class="text-2xl font-semibold mb-6">Ressource</h1>

        <table class="table">
            <tbody>
            <tr>
                <th class="py-2 px-4 border">Id</th>
                <td class="py-2 px-4 border">{{ ressource.id }}</td>
            </tr>
            <tr>
                <th class="py-2 px-4 border">Type</th>
                <td class="py-2 px-4 border">{{ ressource.type }}</td>
            </tr>
            <tr>
                <th class="py-2 px-4 border">Contenu</th>
                <td class="py-2 px-4 border">{{ ressource.contenu }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_ressource_index') }}" class="block mt-4 text-blue-500 hover:underline">Back to list</a>

        <a href="{{ path('app_ressource_edit', {'id': ressource.id}) }}" class="block mt-2 text-yellow-500 hover:underline">Edit</a>

        {{ include('ressource/_delete_form.html.twig') }}
    </div>
{% endblock %}
