{% extends 'base.html.twig' %}

{% block title %}Secteur{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto mt-8 p-6 bg-white rounded-md shadow-md">
        <h1 class="text-2xl font-semibold mb-6">Secteur</h1>

        <table class="table">
            <tbody>
            <tr>
                <th class="py-2 px-4 border">Id</th>
                <td class="py-2 px-4 border">{{ secteur.id }}</td>
            </tr>
            <tr>
                <th class="py-2 px-4 border">Nom</th>
                <td class="py-2 px-4 border">{{ secteur.nom }}</td>
            </tr>
            <tr>
                <th class="py-2 px-4 border">Description</th>
                <td class="py-2 px-4 border">{{ secteur.description }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_secteur_index') }}" class="block mt-4 text-blue-500 hover:underline">Back to list</a>

        <a href="{{ path('app_secteur_edit', {'id': secteur.id}) }}" class="block mt-2 text-yellow-500 hover:underline">Edit</a>

        {{ include('secteur/_delete_form.html.twig') }}
    </div>
{% endblock %}
