<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony{% endblock %}</title>
        <link rel="icon" type="image/jpg" href="{{ asset('images/favicon.ico') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div class="flex items-center justify-end gap-x-2 bg-blue-500 text-white text-xl">
        {% if app.user %}
            <a class="p-4" href="/">Accueil</a>
            <a class="p-4" href="/logout">Se déconnecter</a>
        {% else %}
            <a class="p-4" href="/login">Se connecter</a>
            <a class="p-4" href="/register">S'inscrire</a>
        {% endif %}
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
